<!DOCTYPE html>
<html>
<head>
    <title>Create Quiz</title>
    <H1>Quiz Test</H1>
</head>
<body>
    <form method= 'POST'>
        <H3>Create Quiz</H3>
        <input name='quizbox' placeholder="enter you quiz">

        <H4>Create Choice</H4>
        
        <input placeholder="Enter your choice1" name="a"><br>
        <input placeholder="Enter your choice2" name="b"><br>
         
        <H5>Create Answer</H5>
        <input placeholder="Enter your answer" name="answer"><br>
        <input type="submit" name="enter">

        {% csrf_token %}

        </select>
       

        
    </form>
    


</body>
</html>